*.py[co]

# Packages
*.egg
*.egg-info
*.idea
dist
build
eggs
parts
bin
env
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cf
#reilost evn
Dev
*.out
*.log
